<!DOCTYPE html>
<html>
<head>
    <title>Deep Cube Plus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<meta content="utf-8" http-equiv="encoding">

    <!-- Bootstrap -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/main.css">

    <!--[if lt IE 9]>
          <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
		  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <![endif]-->


    <script src="/static/jquery.min.js"></script>
    <script src="/static/main.plus.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="container">
        <center>
            <h4>我要挑战魔方还原</h4>
            <div id="program_container" class="container">
                <div id="solution_container" class="container">
                        <a style="text-decoration: none;" href="/index">
                            <button id="ret" type="button">返回</button>
                        </a>
                        <button disabled id="first_state" type="button">&#060;&#060;</button>
                        <button disabled id="prev_state" type="button">&#060;</button>
                        <button disabled id="next_state" type="button">&#062;</button>
                        <button disabled id="last_state" type="button">&#062;&#062;</button>
                    
<!--                    <br /><br/>-->
                        <text style="margin-left:310px;">计时：</text>
                       <input class="countTime" style="width: 50px;" type="text" name="" id="fen" value="0" />分
                       <input class="countTime" style="width: 50px" type="text" name="" id="miao" value="0" />秒
                       
                    <h4 id="solution_text">Solution:</h4>
                </div>

                <div id="cube_div" class="container" style="padding: 60px">
                <section class="cube_container">
                    <div id="cube">
                        <figure id="front" class="front">
                        </figure>
                        <figure id="back" class="back">
                        </figure>
                        <figure id="right" class="right">
                        </figure>
                        <figure id="left" class="left">
                        </figure>
                        <figure id="top" class="top">
                        </figure>
                        <figure id="bottom" class="bottom">
                        </figure>
                    </div>
                </section>
                </div>
                
                <br>

                <div id="button_container" class="container">
                    <button disabled id="U1" type="button" onclick="singleRotation(this.id)">U</button>
                    <button disabled id="D1" type="button" onclick="singleRotation(this.id)">D</button>
                    <button disabled id="L1" type="button" onclick="singleRotation(this.id)">L</button>
                    <button disabled id="R1" type="button" onclick="singleRotation(this.id)">R</button>
                    <button disabled id="F1" type="button" onclick="singleRotation(this.id)">F</button>
                    <button disabled id="B1" type="button" onclick="singleRotation(this.id)">B</button>
                    <button disabled id="U2" type="button" onclick="singleRotation(this.id)">U'</button>
                    <button disabled id="D2" type="button" onclick="singleRotation(this.id)">D'</button>
                    <button disabled id="L2" type="button" onclick="singleRotation(this.id)">L'</button>
                    <button disabled id="R2" type="button" onclick="singleRotation(this.id)">R'</button>
                    <button disabled id="F2" type="button" onclick="singleRotation(this.id)">F'</button>
                    <button disabled id="B2" type="button" onclick="singleRotation(this.id)">B'</button>

                    <button disabled id="scramble_challenge" type="button">开始挑战</button>
                    <button disabled id="solve_challenge" type="button">我想要答案</button>
                     <a style="text-decoration: none;" href="/index/challenge">
                        <button disabled id="restart" type="button">一切重来</button>
                     </a>
                    <br /><br />
                    
                    <button disabled style="margin-left:50px;float: right;" id="saveState" type="button" onclick="addButtonTimeState()">保存当前魔方状态</button>
                    <div style="display: inline-block;" id="saveStatesolution_container"></div>
<!--                    input: <input disabled id="input" type="text" style="width:400px">-->
<!--                    <button disabled id="rotation" type="button" onclick="rotation()">Rotation</button>-->
                </div>
            </div>
        </center>

       
    </div>
    <br>
    <center>
	    <h4>Use the mouse to turn the cube. &#13;&#10;</h4>
        <h4>
            Turn the faces with the U/D/L/R/B/F keys.
            Hold shift to turn faces couter-clockwise.
        </h4>
        <h4>
            Press scramble to randomly scramble the cube.
            Press solve to solve the cube using deep learning!
        </h4>
    </center>

    <br>
    <div class="well well-lg">
        <center>
        <a href="https://codeocean.com/capsule/5723040/">Source Code</a>
        <br>
        <br>
        <span style='color:black'>If you find this research useful to your work, please cite the following papers:</span><br><br>

        <span class="paper-title"><a href="https://www.nature.com/articles/s42256-019-0070-z.epdf?shared_access_token=-pCSsZa_J9bM8VyXLZLRctRgN0jAjWel9jnR3ZoTv0Osb8UCgUm5AQaSCMHWqWzsyV3KBcb13SAW-9IL1pAGd1HcSk40JSEjhoaBAi0ePvYh_5Dul6LvK0oJY1KI0ULo9O9HCut_y7aCTc93Th8m5g%3D%3D">Solving the Rubik's Cube with Deep Reinforcement Learning and Search</a></span><br>
        <span class="paper-authors">Forest Agostinelli*, Stephen McAleer*, Alexander Shmakov*, Pierre Baldi</span><br>
        <span class="paper-journal"><i>Nature Machine Intelligence</i>, Volume 1</span>,
        <span class="paper-year">2019</span>
        <br>
        <br>
        <span class="paper-title"><a href="https://openreview.net/pdf?id=Hyfn2jCcKm">Solving the Rubik's Cube with Approximate Policy Iteration</a></span><br>
        <span class="paper-authors">Stephen McAleer*, Forest Agostinelli*, Alexander Shmakov*, Pierre Baldi</span><br>
        <span class="paper-journal"><i>In Proceedings of the 7th International Conference on Learning Representations (ICLR)</i></span>,
        <span class="paper-year">2019</span>
        </center>
    </div>


</body>
</html>
